/* 定位布局 */
.container{
  position:relative;
}
.container>div{
  height:600px;
  position:absolute;
}
.left{
  left:0;
  top:0;
  width:300px;
  background-color: #ff00ff;
}
.center{
  left:300px;
  top:0;
  right:300px;
  background-color:#ffff00;
}
.right{
  width:300px;
  right:0;
  top:0;
  background-color:#00ffff;
}
