.parent{
    width:100px;
    height:100px;
    position:relative;
    background-color:#ff00ff;
}
.child{
    width:20px;
    height:40px;
    margin:auto;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%;-50%);
    -ms-transform:translate(-50%，-50%);
    background-color:#ffff00;
}
